#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=firefox
Name[en_US]=important-dates
Exec=firefox "http://www.fi.muni.cz/studies/dates.xhtml"
Name=Important Dates
Icon=firefox
