{% extends '_layout.html' %}
{% from '_macros.html' import form_errors %}


{% block content %}
<h1>Sign in</h1>

<form method="post" action="" class="main_form login_form">
    {{ form_errors(form) }}
    <table>
        <tr>
            <th>{{ form.email.label }}</th>
            <td>{{ form.email(size=20) }}</td>
        </tr>
        <tr>
            <th>{{ form.password.label }}</th>
            <td>{{ form.password(size=20) }}</td>
        </tr>
    </table>

    <div class="action_area">
        {{ form.csrf_token }}
        <p><button type="submit">Go</button> or <a href="{{ url_for('sign_up') }}">Sign up</a></p>
    </div>
</form>
{% endblock %}
















