{% extends '_layout.html' %}
{% from '_macros.html' import form_errors, avatar, button_link %}


{% block content %}
<p class="breadcrumbs">
    <a href="{{ url_for('groups') }}">Groups</a> &raquo; <a href="{{ url_for('group', id=topic.group_id) }}">{{ topic.group.name }}</a> &raquo; {{ topic.subject }}
</p>

<h1>{{ topic.subject }}</h1>

<div class="messages_list">
    {% for message in topic.messages %}
    <div class="message" id="message-{{ message.id }}">
        <p class="author" title="{{ message.contact.identifier }}">
            {{ avatar(message.contact.avatar) }} {% if message.contact.user == current_user %}me{% else %}{{ message.contact.name }}{% endif %}
        </p>
        <p class="datetime">{{ message.posted_at|datetime }}</p>

        <blockquote>
            {{ message.content }}
        </blockquote>
    </div>
    {% endfor %}

    <div class="message last_message" id="message-new">
        <p class="author">{{ avatar(current_user.avatar) }} me</p>
        <p class="datetime">{{ now|datetime }}</p>

        <form action="" method="post">
            {{ form_errors(form) }}
            <blockquote>
                {{ form.message(cols=50, rows=10) }} <button type="submit">Reply</button>
            </blockquote>
            {{ form.csrf_token }}
        </form>
    </div>
</div>

<div class="action_area">
    <p>{{ button_link(url_for('group', id=topic.group_id), ['Back to ', topic.group.name]|join) }}</p>
</div>
{% endblock %}