
{% macro form_errors(form) %}
    {% with errors = form.errors %}
        {% if errors %}
        <h3>Sorry, something isn't all right</h3>
        <ol>
            {% for field_name, field_errors in errors.items() %}
                {% if field_name == 'csrf' %}
                    <li><strong>Safety check</strong> It seems you didn't use button to submit the form.</li>
                {% elif field_name in form %}
                    {% for error in field_errors %}
                        <li><strong>{{ form[field_name].label }}</strong> {{ error }}</li>
                    {% endfor %}
                {% else %}
                    {% for error in field_errors %}
                        <li><strong>{{ field_name.capitalize() }}</strong> {{ error }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ol>
        {% endif %}
    {% endwith %}
{% endmacro %}
