{% extends '_layout.html' %}
{% from '_macros.html' import form_errors %}


{% block content %}
<h2>Change password</h2>

<form method="post" action="">
    {{ form_errors(form) }}

    <table>
        <tr>
            <th>{{ form.old_password.label }}</th>
            <td>{{ form.old_password(size=20) }}</td>
        </tr>
        <tr>
            <th>{{ form.new_password.label }}</th>
            <td>{{ form.new_password(size=20) }}</td>
        </tr>
        <tr>
            <th>{{ form.password_check.label }}</th>
            <td>{{ form.password_check(size=20) }} (protection against typos)</td>
        </tr>
    </table>

    {{ form.csrf_token }}
    <button type="submit">Save changes</button> or
    {% if request.args.get('next') %}
        <a href="{{ url_for(request.args.get('next')) }}">Cancel</a>
    {% else %}
        <a href="{{ url_for('settings') }}">Cancel</a>
    {% endif %}
</form>
{% endblock %}
