{% extends 'layout.html' %}


{% block content %}
<h2>Change password</h2>

{% with errors = form.errors %}
    {% if errors %}
    <div class="flash errors">
        <h3>Sorry, something isn't all right</h3>
        <ol>
            {% for field_name, field_errors in errors.items() %}
                {% if field_name == 'csrf' %}
                    <li><strong>Safety check</strong> It seems you didn't use button to submit the form.</li>
                {% elif field_name in form %}
                    {% for error in field_errors %}
                        <li><strong>{{ form[field_name].label }}</strong> {{ error }}</li>
                    {% endfor %}
                {% else %}
                    {% for error in field_errors %}
                        <li><strong>{{ field_name.capitalize() }}</strong> {{ error }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    {% endif %}
{% endwith %}

<form method="post" action="">
    <table>
        <tr>
            <th>{{ form.old_password.label }}</th>
            <td>{{ form.old_password(size=20) }}</td>
        </tr>
        <tr>
            <th>{{ form.new_password.label }}</th>
            <td>{{ form.new_password(size=20) }}</td>
        </tr>
        <tr>
            <th>{{ form.password_check.label }}</th>
            <td>{{ form.password_check(size=20) }} (protection against typos)</td>
        </tr>
    </table>

    {{ form.csrf_token }}
    <button type="submit">Save changes</button> or
    {% if request.args.get('next') %}
        <a href="{{ url_for(request.args.get('next')) }}">Cancel</a>
    {% else %}
        <a href="{{ url_for('settings') }}">Cancel</a>
    {% endif %}
</form>
{% endblock %}
