{% extends 'layout.html' %}


{% block content %}
<h2>Contacts</h2>

<p><label>Search contacts</label> <input type="search"></p>

<div class="block">
    <ul>
        <li><a href="">A</a></li>
        <li>B</li>
        <li>C</li>
        <li><a href="">&#268;</a></li>
        <li>D</li>
        <li><a href="">E</a></li>
        <li>F</li>
        <li><a href="">G</a></li>
        <li>H</li>
        <li>I</li>
        <li><a href="">J</a></li>
        <li><a href="">K</a></li>
        <li><a href="">L</a></li>
        <li>M</li>
        <li><a href="">N</a></li>
        <li><a href="">O</a></li>
        <li><a href="">P</a></li>
        <li>Q</li>
        <li><a href="">R</a></li>
        <li>S</li>
        <li>T</li>
        <li>U</li>
        <li><a href="">V</a></li>
        <li><a href="">W</a></li>
        <li>X</li>
        <li>Y</li>
        <li><a href="">Z</a></li>
    </ul>
</div>

<div class="block">
    <p><a href="">Add contacts</a></p>
</div>

<div class="block">
    <h3>Add contacts</h3>
    <table>
        <tr>
            <th><label>Name</label></th>
            <td><input size="20"></td>
        </tr>
        <tr>
            <th><label>E-mail</label></th>
            <td><input size="20"></td>
        </tr>
    </table>
    <button type="submit">Add contact</button> or <a href="">I'm done adding contacts</a>
</div>

<p>A</p>
<hr>

<ul>
    <li>E-mail <img src="https://graph.facebook.com/honzajavorek/picture?type=square"> Honza Javorek, honza@javorek.net <a href="">Delete</a></li>
</ul>

<p>F</p>
<hr>

<ul>
    <li>E-mail <img src="https://graph.facebook.com/honzajavorek/picture?type=square"> Honza Javorek, honza@javorek.net <a href="">Delete</a></li>
    <li>E-mail <img src="https://graph.facebook.com/honzajavorek/picture?type=square"> Honza Javorek, honza@javorek.net <a href="">Delete</a></li>
</ul>

<style>
    .block { background: #EEE; padding: 0.001em 1em; margin: 1em 0; }
</style>
{% endblock %}