{% extends '_layout.html' %}
{% from '_macros.html' import form_errors %}


{% block content %}
<h2>Contacts</h2>

<div class="block">
    <ul>
        {% for group in contacts|groupby_alphabet('name', full_alphabet=True) %}
            <li>
                {% if group.list %}
                    <a href="#contacts-{{ group.grouper.name }}">{{ group.grouper }}</a>
                {% else %}
                    {{ group.grouper }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

<div class="block">
    <h3>Add contacts</h3>
    <form method="post" action="">
        {{ form_errors(form) }}
        <table>
            <tr>
                <th>{{ form.name.label }}</th>
                <td>{{ form.name(size=20) }}</td>
            </tr>
            <tr>
                <th>{{ form.email.label }}</th>
                <td>{{ form.email(size=20) }}</td>
            </tr>
        </table>

        {{ form.csrf_token }}
        <button type="submit">Add contact</button>
    </form>
</div>

<ul>
    {% for group in contacts|groupby_alphabet('name') %}
        <li id="contacts-{{ group.grouper.name }}">{{ group.grouper }}
            <ul>
            {% for contact in group.list %}
                <li>
                    {{- contact.label }}
                    <img src="{{ contact.avatar }}">
                    {{ contact.name }}
                    {{ contact.identifier }}
                    <a href="{{ url_for('delete_contact', id=contact.id) }}">Delete</a>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

<style>
    .block { background: #EEE; padding: 0.001em 1em; margin: 1em 0; }
</style>
{% endblock %}