{% extends '_layout.html' %}
{% from '_macros.html' import form_errors, small_contact, contact_box, button_link, events_table %}


{% block content %}
<h1>Events</h1>

{% if events_count %}
    <div class="action_area">
        <p>{{ button_link(url_for('create_event'), 'Create new') }}</p>
    </div>

    {# events_table('Active', events_active) #}
    {{ events_table('Upcoming', events_upcoming) }}
    {{ events_table('Past', events_past) }}
    {{ events_table('Cancelled', events_cancelled) }}

{% else %}
    <div class="action_area">
        <p>{{ button_link(url_for('create_event'), 'Create new event') }} <span class="separator">or</span> {{ button_link(url_for('contacts'), 'Manage contacts') }}</p>
    </div>
{% endif %}
{% endblock %}

