{% extends '_layout.html' %}
{% from '_macros.html' import form_errors, contact_box, button_link, small_contact %}


{% block content %}
<p class="breadcrumbs">
    <a href="{{ url_for('events') }}">Events</a> &raquo; {{ event.name }}
</p>

{% if action == 'edit' %}
    <form action="{{ url_for('event', action='edit', id=event.id) }}" method="post">
        {{ form_errors(form) }}

        <h1>{{ form.name(placeholder=form.name.label.text) }}</h1>
        <p><a href="{{ url_for('event', id=event.id) }}">Cancel</a> or <button type="submit">Save</button></p>

        <h4>Members</h4>
        {{ form.contact_ids_str() }}
        <ul id="members">
            {% for contact in event.contacts %}
                <li>{% include '_contact.html' %}</li>
            {% endfor %}
        </ul>
        <p><label for="members-add">Add member</label> <input id="members-add" type="search"></p>
        <ul id="members-search-results"></ul>

        {{ form.csrf_token }}
    </form>
{% else %}
    <h1>{{ event.name }}</h1>
    <p class="icons">
        <a class="icon" href="{{ url_for('event', action='edit', id=event.id) }}" title="Edit event details, adjust members">Edit</a>
    </p>

    {% with contacts = event.contacts|list %}
        {% if contacts %}
            <ul class="contacts_list">
                {% for contact in contacts %}
                    <li>{{ contact_box(contact) }}</li>
                {% endfor %}
            </ul>
            <br class="cleaner">
        {% else %}
            <p>Empty event.</p>
        {% endif %}
    {% endwith %}
{% endif %}

{% if not action %}
    <div class="action_area">
        <p>{{ button_link(url_for('new_topic', event_id=event.id), 'Start a new topic') }}</p>
    </div>
    <table class="topics_list">
    {% for topic in event.topics %}
        <tr class="topic">
            <th class="legend"><a href="{{ url_for('topic', id=topic.id, event_id=event.id) }}">{{ topic.subject }}</a></th>
            <td>
                {% for contact in topic.contacts %}
                    {{ small_contact(contact, size=20) }}
                {% endfor %}
            </td>
            <td title="Last updated">
                {{ topic.updated_at|datetime }}
            </td>
            <td title="Messages">
                <strong>{{ topic.messages|list|length }}</strong>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}