{% extends '_layout.html' %}
{% from '_macros.html' import form_errors, contact_box, button_link, small_contact %}


{% block title -%}
    {{- event.verbose_name }}{% if current_user.is_authenticated() %} - Oleander{% endif -%}
{%- endblock %}


{% block header %}
    {% if current_user.is_authenticated() %}{{ super() }}{% endif %}
{% endblock %}


{% block footer_contents %}
    {% if current_user.is_anonymous() %}
        <p>powered by {{ event.user.name }}'s {{ nav_link('events', 'Oleander') }}</p>
    {% endif %}
    {{ super() }}
{% endblock %}


{% block content %}
{% if current_user.is_authenticated() %}
<p class="breadcrumbs">
    <a href="{{ url_for('events') }}">Events</a> &raquo; {{ event.name }}
</p>
{% endif %}

<div class="event{% if event.is_cancelled %} cancelled{% endif %}">
<h1>{{ event.verbose_name }}</h1>

{% set contacts = event.contacts|list %}

<table class="main_form">
    <tr>
        <th><label>When</label></th>
        <td>
            {% if event.starts_at %}
                {{ event.starts_at|datetime }}
            {% else %}
                unknown (yet)
            {% endif %}
        </td>
    </tr>
    <tr>
        <th><label>Where</label></th>
        <td>
            {% if event.venue %}
                {{ event.venue }} <small><a href="{{ event.venue|map_link }}" target="_blank">on map</a></small>
            {% else %}
                unknown (yet)
            {% endif %}
        </td>
    </tr>
    {% if event.description %}
    <tr>
        <th><label>What</label></th>
        <td>
            {{ event.description }}
        </td>
    </tr>
    {% endif %}
    {% if not contacts %}
    <tr>
        <th><label>Who</label></th>
        <td>
            no attendance (yet)
        </td>
    </tr>
    {% endif %}
</table>

{% if contacts %}
    <h2>Attendance</h2>

    {% set going_contacts = event.contacts_going|list %}
    {% set going_contacts_count = going_contacts|length %}

    {% set maybe_contacts = event.contacts_maybe|list %}
    {% set maybe_contacts_count = maybe_contacts|length %}

    {% set declined_contacts = event.contacts_declined|list %}
    {% set declined_contacts_count = declined_contacts|length %}

    {% set invited_contacts = event.contacts_invited|list %}
    {% set invited_contacts_count = invited_contacts|length %}

    {% if going_contacts %}
        <div class="attendance_group">
            <h3>{{ going_contacts_count }} going</h3>
            <ul class="contacts_list">
                {% for contact in going_contacts %}
                    <li>{{ contact_box(contact) }}</li>
                {% endfor %}
            </ul>
            <br class="cleaner">
        </div>
    {% endif %}

    {% if maybe_contacts %}
        <div class="attendance_group">
            <h3>{{ maybe_contacts_count }} maybe</h3>
            <ul class="contacts_list">
                {% for contact in maybe_contacts %}
                    <li>{{ contact_box(contact) }}</li>
                {% endfor %}
            </ul>
            <br class="cleaner">
        </div>
    {% endif %}

    {% if declined_contacts %}
        <div class="attendance_group">
            <h3>{{ declined_contacts_count }} declined</h3>
            <ul class="contacts_list">
                {% for contact in declined_contacts %}
                    <li>{{ contact_box(contact) }}</li>
                {% endfor %}
            </ul>
            <br class="cleaner">
        </div>
    {% endif %}

    {% if invited_contacts %}
        <div class="attendance_group">
            <h3>{{ invited_contacts_count }} invited</h3>
            <ul class="contacts_list">
                {% for contact in invited_contacts %}
                    <li>{{ contact_box(contact) }}</li>
                {% endfor %}
            </ul>
            <br class="cleaner">
        </div>
    {% endif %}

{% endif %}

{% if current_user.is_authenticated() %}
<form class="main_form">
    <div class="action_area">
        <p>
            {{ button_link(url_for('edit_event', id=event.id), 'Edit event details') }}

            or

            {% if event.is_cancelled %}
                {{ button_link(url_for('revive_event', id=event.id), 'Revive this event') }}
            {% else %}
                {{ button_link(url_for('cancel_event', id=event.id), 'Cancel this event') }}
            {% endif %}
        </p>
    </div>
</form>
{% endif %}
</div>
{% endblock %}