{% extends '_layout.html' %}
{% from '_macros.html' import small_contact, button_link %}


{% block content %}
    <h1>Welcome, {{ current_user.name }}</h1>

    {% with topics = topics|list %}
        {% if topics|length %}
            <table class="topics_list">
            {% for topic in topics %}
                <tr class="topic">
                    <th>
                        <a href="{{ url_for('group', id=topic.group_id) }}">{{ topic.group.name }}</a>
                        &raquo;
                        <a href="{{ url_for('topic', id=topic.id, group_id=topic.group_id) }}">{{ topic.subject }}</a>
                    </th>
                    <td>
                        {% for contact in topic.contacts %}
                            {{ small_contact(contact, size=20) }}
                        {% endfor %}
                    </td>
                    <td title="Last updated">
                        {{ topic.updated_at|datetime }}
                    </td>
                    <td title="Messages">
                        <strong>{{ topic.messages|list|length }}</strong>
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <div class="action_area">
                <p>{{ button_link(url_for('groups'), 'Review groups') }} <span class="separator">or</span> {{ button_link(url_for('contacts'), 'Manage contacts') }}</p>
            </div>
        {% endif %}
    {% endwith %}

{% endblock %}
