{% extends '_layout.html' %}
{% from '_macros.html' import small_contact, button_link %}


{% block content %}
    <h1>Welcome, {{ current_user.name }}</h1>

    {% with events = events|list %}
        {% if events|length %}
            <table class="events_list">
            {% for event in events %}
                <tr class="event">
                    <th>
                        <a href="{{ url_for('event', id=event.id) }}">{{ event.name }}</a>
                    </th>
                    <td>
                        {% for contact in event.contacts %}
                            {{ small_contact(contact, size=20) }}
                        {% endfor %}
                    </td>
                    <td title="Last updated">
                        {{ event.updated_at|datetime }}
                    </td>
                    <td title="Attendees">
                        <strong>{{ event.contacts|list|length }}</strong>
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <div class="action_area">
                <p>{{ button_link(url_for('events'), 'Review events') }} <span class="separator">or</span> {{ button_link(url_for('contacts'), 'Manage contacts') }}</p>
            </div>
        {% endif %}
    {% endwith %}

{% endblock %}
