{% extends 'layout.html' %}


{% block content %}
<h2>Settings</h2>

<form>
    <fieldset>
        <legend>Basic info</legend>
        <table>
            <tr>
                <th><label>Name</label></th>
                <td><input size="20" value="Honza"> (e.g. <em>Johnny</em>)</td>
            </tr>
            <tr>
                <th><label>E-mail</label></th>
                <td><input size="20" value="honza@javorek.net"></td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Change password</legend>
        <table>
            <tr>
                <th><label>New password</label></th>
                <td><input type="password" size="20"></td>
            </tr>
            <tr>
                <th><label>Once more</label></th>
                <td><input type="password" size="20"> (protection against typos)</td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Preferences</legend>
        <table>
            <tr>
                <th><label>My timezone is</label></th>
                <td>
                    <select>
                        <option>16:00 &ndash; Prague, Europe</option>
                        <option>07:00 &ndash; Catamarca, Argentina, America</option>
                    </select>
                </td>
            </tr>
        </table>
    </fieldset>

    <button type="submit">Save changes</button> or <a href="{{ url_for('index') }}">Cancel</a>
</form>
{% endblock %}
