{% extends 'layout.html' %}


{% block content %}
<h2>Settings</h2>

{% with errors = form.errors %}
    {% if errors %}
    <div class="flash errors">
        <h3>Sorry, something isn't all right</h3>
        <ol>
            {% for field_name, field_errors in errors.items() %}
                {% if field_name == 'csrf' %}
                    <li><strong>Safety check</strong> It seems you didn't use button to submit the form.</li>
                {% elif field_name in form %}
                    {% for error in field_errors %}
                        <li><strong>{{ form[field_name].label }}</strong> {{ error }}</li>
                    {% endfor %}
                {% else %}
                    {% for error in field_errors %}
                        <li><strong>{{ field_name.capitalize() }}</strong> {{ error }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    {% endif %}
{% endwith %}

<form method="post" action="">
    <fieldset>
        <legend>Basic info</legend>
        <table>
            <tr>
                <th>{{ form.name.label }}</th>
                <td>{{ form.name(size=20) }} (e.g. <em>Johnny</em>)</td>
            </tr>
            <tr>
                <th>{{ form.email.label }}</th>
                <td>{{ form.email(size=20) }}</td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Password</legend>
        <p><a href="{{ url_for('change_password') }}">Change my password</a></p>
    </fieldset>

    <fieldset>
        <legend>Preferences</legend>
        <table>
            <tr>
                <th>{{ form.timezone.label }}</th>
                <td>{{ form.timezone }}</td>
            </tr>
        </table>
    </fieldset>

    {{ form.csrf_token }}
    <button type="submit">Save changes</button> or <a href="{{ url_for('settings') }}">Cancel</a>
</form>
{% endblock %}
