<h2>Groups</h2>

<p><label>Search groups</label> <input type="search"></p>

<div class="group">
    <p><a href="">New group</a></p>
</div>

<div class="group">
    <h3><input value="F5 team"></h3>
    <p><a href="">Cancel</a> or <button>Save</button></p>

    <h4>Members</h4>
    <ul>
        <li>E-mail <img src="https://graph.facebook.com/honzajavorek/picture?type=square"> Honza Javorek, honza@javorek.net <a href="">Remove</a></li>
        <li>Facebook <img src="https://graph.facebook.com/100002869744721/picture?type=square"> Zlatko Prdic, facebook.com/100002869744721 <a href="">Remove</a></li>
    </ul>
    <p><label>Add member</label> <input value="Zuz"></p>
    <ul>
        <li>Google <img src="https://graph.facebook.com/zuzejk/picture?type=square"> <mark>Zuz</mark>ana Valkova, perdas@seznam.cz <a href="">Add</a></li>
        <li>Facebook <img src="https://graph.facebook.com/zuzejk/picture?type=square"> <mark>Zuz</mark>ana Valkova, facebook.com/<mark>zuz</mark>ejk <a href="">Add</a></li>
    </ul>

    <h4>Delete group</h4>
    <p><button>Delete</button></p>
</div>

<div class="group">
    <h3><a href="">Summer camp</a></h3>
    <p><a href="">Edit</a></p>

    <h4>Members</h4>
    <ul>
        <li>E-mail <img src="https://graph.facebook.com/honzajavorek/picture?type=square"> Honza Javorek, honza@javorek.net</li>
        <li>Facebook <img src="https://graph.facebook.com/exskiller/picture?type=square"> Petr Vacha, facebook.com/exskiller</li>
        <li>Google <img src="https://graph.facebook.com/zuzejk/picture?type=square"> Zuzana Valkova, perdas@seznam.cz</li>
        <li>Facebook <img src="https://graph.facebook.com/100002869744721/picture?type=square"> Zlatko Prdic, facebook.com/100002869744721</li>
    </ul>

    <h4>Last discussion</h4>
    <p><a href=""><strong>Today's meeting</strong> <small>15:01 (19 minutes ago)</small></a></p>
</div>

<div class="group">
    <h3><a href="">Romanian mountains trip</a></h3>
    <p><a href="">Edit</a></p>

    <h4>Members</h4>
    <ul>
        <li>E-mail <img src="https://graph.facebook.com/honzajavorek/picture?type=square"> Honza Javorek, honza@javorek.net</li>
        <li>Facebook <img src="https://graph.facebook.com/100002869744721/picture?type=square"> Zlatko Prdic, facebook.com/100002869744721</li>
    </ul>

    <h4>Last discussion</h4>
    <p><a href=""><strong>Should we bring an ice cream?</strong> <small>20:01 (5 hours ago)</small></a></p>
</div>

<style>
    .group { background: #EEE; padding: 0.001em 1em; margin: 1em 0; }
</style>