<h2>Welcome!</h2>

<form>
    <fieldset>
        <legend>Who are you?</legend>
        <table>
            <tr>
                <th><label>Name</label></th>
                <td><input size="20"> (e.g. <em>Johnny</em>)</td>
            </tr>
            <tr>
                <th><label>E-mail</label></th>
                <td><input size="20"></td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Let's share a secret</legend>
        <table>
            <tr>
                <th><label>Password</label></th>
                <td><input type="password" size="20"></td>
            </tr>
            <tr>
                <th><label>Once more</label></th>
                <td><input type="password" size="20"> (protection against typos)</td>
            </tr>
        </table>
    </fieldset>

    <button type="submit">Create account</button> or <a href="">Cancel</a>
</form>
