<h2>Summer camp group <a href="">Change</a></h2>

<p><label>Search topics</label> <input type="search"></p>

<div class="block">
    <h3>Members <a href="">Edit</a></h3>
    <ul>
        <li>E-mail <img src="https://graph.facebook.com/honzajavorek/picture?type=square"> me, honza@javorek.net <a href="">Remove</a></li>
        <li>Facebook <img src="https://graph.facebook.com/100002869744721/picture?type=square"> Zlatko Prdic, facebook.com/100002869744721 <a href="">Remove</a></li>
        <li>E-mail <img src="https://graph.facebook.com/honzajavorek/picture?type=square"> Honza Javorek, honza@javorek.net <a href="">Remove</a></li>
        <li>Facebook <img src="https://graph.facebook.com/100002869744721/picture?type=square"> Zlatko Prdic, facebook.com/100002869744721 <a href="">Remove</a></li>
        <li>E-mail <img src="https://graph.facebook.com/honzajavorek/picture?type=square"> Honza Javorek, honza@javorek.net <a href="">Remove</a></li>
        <li><a href="">&hellip;and 3 more</a></li>
    </ul>
    <h4>Not responding</h4>
    <ul>
        <li>E-mail <img src="https://graph.facebook.com/honzajavorek/picture?type=square"> Honza Javorek, honza@javorek.net <a href="">Remove</a></li>
    </ul>
</div>

<div class="block">
    <h3>Edit members</h3>
    <ul>
        <li>E-mail <img src="https://graph.facebook.com/honzajavorek/picture?type=square"> Honza Javorek, honza@javorek.net <a href="">Remove</a></li>
        <li>Facebook <img src="https://graph.facebook.com/100002869744721/picture?type=square"> Zlatko Prdic, facebook.com/100002869744721 <a href="">Remove</a></li>
    </ul>
    <p><label>Add member</label> <input value="Zuz"></p>
    <ul>
        <li>Google <img src="https://graph.facebook.com/zuzejk/picture?type=square"> <mark>Zuz</mark>ana Valkova, perdas@seznam.cz <a href="">Add</a></li>
        <li>Facebook <img src="https://graph.facebook.com/zuzejk/picture?type=square"> <mark>Zuz</mark>ana Valkova, facebook.com/<mark>zuz</mark>ejk <a href="">Add</a></li>
    </ul>
    <p><a href="">I'm done editing members</a></p>
</div>

<h3>Attachments</h3>
<ul>
    <li><a href="">Poll</a> <small>Is my head big? &rarr; Yes (72%)</small></li>
    <li><a href="">Picture</a> <small>56 kB, 100&times;400px</small></li>
    <li><a href="">Event</a> <small>December meeting &middot; Wed, Dec 7 at 13:00</small></li>
    <li><a href="">Schedule poll</a> <small>December meeting &rarr; Wed, Dec 7</small></li>
    <li><a href="">ZIP file</a> <small>56 MB</small></li>
    <li><a href="">Schedule poll</a> <small>October meeting &rarr; ?</small></li>
</ul>

<h3>Topics</h3>
<div class="block">
    <p><a href="">Start a new topic</a></p>
</div>
<div class="block">
    <p><a href=""><strong>Today's meeting</strong> <small>15:01 (19 minutes ago)</small></a></p>
</div>
<div class="block">
    <p><a href=""><strong>Today's meeting</strong> <small>15:01 (59 minutes ago)</small></a></p>
</div>
<div class="block">
    <p><a href=""><strong>Today's meeting</strong> <small>15:01 (1 hours ago)</small></a></p>
</div>
<div class="block">
    <p><a href=""><strong>Today's meeting</strong> <small>15:01 (30 hours ago)</small></a></p>
</div>
<div class="block">
    <p><a href=""><strong>Today's meeting</strong> <small>15:01 (... ago)</small></a></p>
</div>
<div class="block">
    <p><a href=""><strong>Today's meeting</strong> <small>15:01 (... ago)</small></a></p>
</div>
<div class="block">
    <p><a href=""><strong>Today's meeting</strong> <small>15:01 (... ago)</small></a></p>
</div>

<style>
    .block { background: #EEE; padding: 0.001em 1em; margin: 1em 0; }
</style>