<h2>Settings</h2>

<form>
    <fieldset>
        <legend>Basic info</legend>
        <table>
            <tr>
                <th><label>Name</label></th>
                <td><input size="20" value="Honza"> (e.g. <em>Johnny</em>)</td>
            </tr>
            <tr>
                <th><label>E-mail</label></th>
                <td><input size="20" value="honza@javorek.net"></td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Change password</legend>
        <table>
            <tr>
                <th><label>New password</label></th>
                <td><input type="password" size="20"></td>
            </tr>
            <tr>
                <th><label>Once more</label></th>
                <td><input type="password" size="20"> (protection against typos)</td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Preferences</legend>
        <table>
            <tr>
                <th><label>I speak</label></th>
                <td>
                    <input type="radio" checked> English<br>
                    <input type="radio"> Czech
                </td>
            </tr>
            <tr>
                <th><label>My timezone is</label></th>
                <td>
                    <select>
                        <option>Prague, Europe &ndash; 16:00</option>
                        <option>Catamarca, Argentina, America &ndash; 7:00</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th><label>My clock shows</label></th>
                <td>
                    <input type="radio" checked> 16:33<br>
                    <input type="radio"> 4:33pm
                </td>
            </tr>
        </table>
    </fieldset>

    <button type="submit">Save changes</button> or <a href="">Cancel</a>
</form>
