<meta charset="utf-8">

<h2>December meeting?</h2>

<p><label>Search messages</label> <input type="search"></p>

<div class="group">
    <p><img src="https://graph.facebook.com/zuzejk/picture?type=square"> Zuzana Valkova</p>
    <p>14:55 (4 hours ago)<p>

    <blockquote>
        <p>Hezký den,</p>
        <p>na VUT FIT jsem úspěšně absolvoval předmět INM a chtěl bych se
        vás<br>
        proto zeptat, zda by nebyla možnost nechat si na základě toho uznat<br>
        M4180, který mám tento akademický rok zapsán. Osnovy předmětu INM jsou<br>
        volně přístupné např. zde: <a
        href="http://www.fit.vutbr.cz/study/courses/INM/">http://www.fit.vutbr.cz/…courses/INM/</a>.
        Na FITu jsem tento předmět absolvoval za C, což mám zapsáno v<br>
        Diploma Supplement. Pokud by uznání možné bylo, rád bych se za vámi<br>
        zastavil pro písemný souhlas na papírovou žádost děkanovi&nbsp;FI.</p>
        <p>Děkuji,</p>
        <p>Honza Javorek</p>
    </blockquote>
</div>

<div class="group">
    <p><img src="https://graph.facebook.com/honzajavorek/picture?type=square"> me</p>
    <p>14:55 (4 hours ago)<p>

    <blockquote>
        <p>Hezký den,</p>
        <p>na VUT FIT jsem úspěšně absolvoval předmět INM a chtěl bych se
        vás<br>
        proto zeptat, zda by nebyla možnost nechat si na základě toho uznat<br>
        M4180, který mám tento akademický rok zapsán. Osnovy předmětu INM jsou<br>
        volně přístupné např. zde: <a
        href="http://www.fit.vutbr.cz/study/courses/INM/">http://www.fit.vutbr.cz/…courses/INM/</a>.
        Na FITu jsem tento předmět absolvoval za C, což mám zapsáno v<br>
        Diploma Supplement. Pokud by uznání možné bylo, rád bych se za vámi<br>
        zastavil pro písemný souhlas na papírovou žádost děkanovi&nbsp;FI.</p>
        <p>Děkuji,</p>
        <p>Honza Javorek</p>
    </blockquote>
</div>

<div class="group">
    <p><img src="https://graph.facebook.com/honzajavorek/picture?type=square"> me</p>

    <blockquote>
        <textarea cols="100" rows="10"></textarea>
        <p><a href="">Add attachment</a></p>

        <h3>Add attachment</h3>
        <ul>
            <li><a href="">File</a></li>
            <li><a href="">Poll</a></li>
            <li><a href="">Schedule poll</a></li>
            <li><a href="">Event</a></li>
        </ul>

        <button>Reply</button>
    </blockquote>
</div>

<style>
    .group { background: #EEE; padding: 0.001em 1em; margin: 1em 0; }
</style>