
/**
 * Main stylesheet.
 *
 * Engine: sass-lang.com
 * Inspiration: html5boilerplate.com
 * Colors:
 *  - colourlovers.com/palette/862958/Down-to-Earth
 *  - colourlovers.com/palette/79468/LipstickOnHisCollar
 */


/* Base */

$font-family: 'Ubuntu', sans-serif;
$text-color: #3D3533;
$document-width: 940px;
$background-color: #504743;
$grey-color: #EDEDE1;
$decorative-grey-color: #CCC;
$mark-color: #FFFFCC;
$header-height: 60px;
$logo-width: 150px;
$spacing: 20px;
$avatar-size: 50px;
$google-color: #D14836;
$facebook-color: #133783;
$email-color: #1F273E;
$error-background-color: #FBEBC9;
$flash-background-color: #FDFCAB;


/* Links */

$link-color: #CD4E00;

@mixin link() {
    &, & * { color: $link-color; text-decoration: none; }
    &:visited { /* no difference */ }
    &:hover, &:hover * { text-decoration: underline; }
    &:focus { outline: thin dotted; }
    &:hover, &:active { outline: 0; } /* improve readability */
}

a { @include link(); }

.cleaner { clear: both; display: block; height: 1px; margin-top: -1px; overflow: hidden; position: relative; left: -38000px; }
.separator { margin-left: $spacing / 2; margin-right: $spacing / 2; }


/* Typography */

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid $grey-color; margin: 1em 0; padding: 0; }
ins { background: $mark-color; color: #000; text-decoration: none; }
mark { background: $mark-color; color: #000; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'Courier New', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* Lists */

@mixin operational-list() {
    list-style: none;
    list-style-image: none;
    margin: 0; padding: 0;
}

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { @include operational-list(); }


/* Embedded content */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
img { border-radius: 3px; }


/* Tables */

table { border-collapse: collapse; border-spacing: 0; }
td, th { vertical-align: top; text-align: left; }


/* Forms */

.js form .help { position: absolute; left: -38000px; }

form table {
    margin: 0 0 $spacing 0;

    td, th {
        line-height: 2em;
    }

    th {
        vertical-align: top;
        padding-right: 0.5em; padding-top: 0.15em;
        min-width: 5em;
    }
}

.flashes {
    @include operational-list();
    background: $flash-background-color;
    margin-bottom: $spacing;
    padding: $spacing / 2; padding-bottom: 0;
    border-radius: 3px;

    li { padding-bottom: $spacing / 2; }
}

.errors {
    text-align: left;
    background: $error-background-color;
    margin-bottom: $spacing;
    padding: ($spacing / 2) $spacing;
    border-radius: 3px;

    h3 {
        margin: 0; margin-top: $spacing / 4;
    }
}

label[for] { cursor: pointer; }
input, select, textarea { padding: 0.3em; }
button { padding: 0.3em 0.5em; cursor: pointer; }

fieldset {
    border: none;
    margin: $spacing 0 (2 * $spacing) 0; padding: 0; padding-top: 2 * $spacing;
    position: relative;
}

legend, .legend {
    text-indent: 0.5em;
    font-size: 100%;
    font-weight: normal;
    color: #504743;
    border: none; border-bottom: 1px $decorative-grey-color dotted;
    background: #FBF8F5;
    padding: 0.3em 0;
}

legend {
    display: block;
    width: 100%;
    margin: 0;
    position: absolute; left: 0; top: 0;
}

.legend {
    clear: both;
    margin: $spacing 0;
}

a.button, a button, a:hover button, a:focus button {
    text-decoration: none;
    cursor: pointer;
}

.action_area {
    margin: (2 * $spacing) 0 $spacing 0;

    form & {
        text-align: center;
    }
}

::-webkit-input-placeholder { color: $decorative-grey-color; }
:-moz-placeholder { color: $decorative-grey-color; }


/* Layout */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: $font-family; color: $text-color; }

body {
    background: $background-color;
    text-align: center;
}

#document {
    width: $document-width;
    margin: 0 auto;
    text-align: left;
    position: relative;
}


/* Header */

.top_bar {
    color: #FFF;
    text-shadow: 1px 1px 1px #111;

    strong, a, a:hover, a:focus {
        color: #FFF;
        margin-right: $spacing;
        padding: 0.2em 0.3em;
    }

    a:hover, a:focus {
        background: rgba(255,255,255,0.30);
        border-radius: 2px;
        text-decoration: none;
    }
}


header {
    height: $header-height;
    line-height: $header-height;

    h1 {
        padding: 0; margin: 0;
        width: $logo-width;
        text-align: center;
        font-size: 210%;
    }
}


#document > nav {
    li { display: inline; }
    position: absolute; left: $logo-width + $spacing; top: 0;
    line-height: $header-height + ($header-height * 0.10);
}


.current_user {
    position: absolute; right: 0; top: $spacing / 2;
    padding-left: 60px;
    height: $header-height;
    min-width: $logo-width - 60px;
    font-size: 90%;

    h3 { margin: 0; line-height: 2em; }
    p { margin: 0; }
    img { background: none; padding: 0; margin-right: $spacing / 2; position: absolute; left: 0; top: 0; box-shadow: 1px 1px 1px #111; }
}


/* Content */

#content {
    background: #FFF;
    padding: $spacing; margin-top: $spacing;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #111;
    position: relative;
    min-height: 500px;
}

@mixin shadow() {
    box-shadow: 1px 1px 1px $decorative-grey-color;
}

@mixin stripe($width) {
    & {
        width: $width - (2 * $spacing);
        position: relative; left: (-1 * $spacing);
        padding: ($spacing / 2) $spacing;
        margin: $spacing 0;
    }
}

#content {
    h1 {
        @include stripe($document-width);
        background: #CD4E00;
        color: #FFF;
        & {
            margin-top: 0;
            margin-bottom: (2 * $spacing);
        }
    }

    img {
        @include shadow();
    }

    .single_on_page {
        margin: 2 * $spacing 0;
    }

    .action_area {
        @include stripe($document-width);
        background: $grey-color;
        padding: $spacing;
    }

    .main_form {
        $main-form-width: 500px;
        $one-side-margin: ($document-width - $main-form-width) / 2;

        margin: 0 $one-side-margin;

        .action_area {
            & {
                margin-top: 3 * $spacing;
                left: (-1 * ($spacing + $one-side-margin));
            }
        }
    }

    .login_form {
        text-align: center;
        table { margin: (8 * $spacing) auto; }
    }
}

#content > .icons {
    margin-top: -2 * $spacing;
}

a.icon {
    $size: 1.5em;

    border-radius: 2px;
    background: #504743;
    color: #FFF;
    height: $size;
    padding: 0 0.3em 0.1em 0.3em;
    font-size: 75%;
    line-height: $size;
    text-align: center;
    text-decoration: none;

    &:hover, &:focus {
        background: #CD4E00;
    }
}

.icons {
    margin: 0; padding: 0 $spacing;
    line-height: 2 * $spacing;
    text-align: right;
}

.breadcrumbs {
    margin: ($spacing / 2) 0; padding: 0;
    position: relative; left: 0; top: (-1 * ($spacing / 2));
}


/* Footer */

footer {
    font-size: 90%;
    padding: $spacing ($spacing / 2);
    text-align: right;

    &, a {
        color: #BFB5A5;
    }

    p {
        margin: 0; margin-left: $spacing;
        display: inline;
    }
}


/* Contacts */

$contact-width: 250px;

.contacts_directory_alphabet {
    @include operational-list();
    height: 80px;

    li {
        display: block;
        float: left;
        border-radius: 2px;
        margin: 0 1em 1em 0;
        @include shadow();

        span, a {
            display: block;
            padding: 0.3em 0.5em;
            min-width: 1em;
            text-align: center;
        }

        span {
            color: $decorative-grey-color;
        }

        a {
            font-weight: bold;
        }
    }
}

.contacts_directory {
    @include operational-list();
    margin-top: (3 * $spacing);

    h2 {
        @include stripe($document-width);
        background: $grey-color;
        text-align: center;

        & {
            margin: $spacing 0;
        }
    }
}

.contacts_list {
    @include operational-list();

    .contact_box {
        float: left;
    }
}

.small_contacts_list {
    @include operational-list();
    padding: 0 $spacing;

    .small_contact {
        float: left;
        margin-right: $spacing;
    }
}

.contact_box {
    width: $contact-width;
    position: relative;
    border: 1px $decorative-grey-color dotted;
    margin: 0 $spacing $spacing 0;
    border-radius: 3px;

    .icons {
        padding: 0; margin: 0;
        line-height: 100%;
        position: absolute; right: 5px; top: 5px;
    }
}

.contact {
    $width: $contact-width;
    $padding: 15px;
    $height: $avatar-size + (2 * $padding);

    position: relative;
    padding: $padding $padding $padding ($avatar-size + (2 * $padding));
    width: $width - (3 * $padding) - $avatar-size;
    height: $height - (2 * $padding);
    border-radius: 3px;
    overflow: hidden;

    img { position: absolute; left: $padding; top: $padding; }
    strong { display: block; margin-bottom: 0.3em; }
    span { display: block; font-size: 90%; }
    strong, span { overflow: hidden; width: $width - (3 * $padding) - $avatar-size; }

    .type {
        display: block;
        width: $avatar-size;
        text-align: center;
        font-size: 75%;
        position: absolute;
        overflow: hidden;
        padding: 1px 0 2px 0;
        left: $padding; bottom: $padding + ($padding / 10);
        color: #FFF;
    }

    &.google .type { background: $google-color; }
    &.facebook .type { background: $facebook-color; }
    &.email .type { background: $email-color; }

    &.highlighted {
        background: $mark-color;
    }
}


/* Events */

.events_list {
    margin: $spacing 0;
    width: 100%;

    td, th {
        padding: ($spacing / 2) $spacing;
        border-bottom: 1px $decorative-grey-color dotted;
    }

    th { @extend .legend; background: none; }
    td { text-align: center; width: 15%; }
    strong { padding: 0.3em 0.55em 0.3em 0.5em; background: $background-color; color: #FFF; border-radius: 3px; }
    th.date { min-width: 15%; }
}

.event {
    margin-bottom: 2 * $spacing;

    h3 {
        margin-bottom: $spacing / 2;
    }

    table {
        margin: $spacing 0;
    }

    th, td {
        padding: $spacing / 2;

        small { margin-left: $spacing / 2; }
    }

    th {
        min-width: 40%;
    }

    #content &.cancelled h1 {
        background: $text-color;
    }
}

.attendance_group {
    padding-bottom: $spacing;

    nav li, nav h3 {
        display: inline;
        padding: 0; margin: 0;
    }

    nav {
        $li-vertical-padding: ($spacing / 4);

        text-align: right;
        border-bottom: 1px solid $decorative-grey-color;
        margin: (-1.5 * $spacing) 0 $spacing 0;
        padding-right: ($spacing / 4);

        li {
            border: 1px solid $decorative-grey-color;
            border-bottom: none;
            padding: $li-vertical-padding ($li-vertical-padding * 2);
            border-radius: 3px 3px 0 0;
            position: relative; bottom: $li-vertical-padding;
            background: #FFF;
        }

        li.active {
            border-bottom: none;
            bottom: $li-vertical-padding - 1;
        }
    }

    .action_area {
        #content & {
            width: auto;
            position: static;
        }
    }
}

.messages_list {
    margin: $spacing 0 (2 * $spacing) 0;
}

.message {
    $padding-left: $avatar-size + $spacing;

    padding: $spacing; padding-left: $padding-left;
    border-bottom: 1px $decorative-grey-color dotted;
    margin: $spacing 0;
    position: relative;

    .author, .datetime { padding: 0; margin: 0; position: absolute; top: 0; }
    .author { font-weight: bold; left: $padding-left; }
    .datetime { text-align: right; right: $spacing; font-size: 90%; }
    .avatar { position: absolute; left: -1 * $padding-left; top: 0; }

    blockquote {
        margin: ($spacing / 2) 0;
        padding: 0;
    }

    blockquote, blockquote textarea {
        line-height: 160%;
    }

    form blockquote {
        position: relative;

        button {
            position: absolute; right: $spacing / 2; bottom: $spacing / 2;
        }
    }

    blockquote textarea, blockquote input {
        width: $document-width - 250;
    }
}

.last_message {
    border-bottom: none;
}

#members_search_results {
    height: 100px;
}


/* Tipsy */

.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 4px 8px 5px 8px; text-align: center; }
.tipsy-inner { border-radius: 3px; }
.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

